@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}



.top{
   display: flex;
   background-color: rgb(22 111 212);;
   color: white;
   /* height: 38px; */
   padding: 13px;
}

.left{
    margin-left: 115px;
    
}
.left i{
    margin-left: 10px;
}

.right{
    margin-left: 400px;
   
}

.right i{
    margin-left: 10px;
}

.logo{
    margin: 23px;
}

.nav{
    background-color: black;
    color: white;
    padding: 13px;
    padding-left: 186px;
    overflow: auto;
}

.nav a{
    text-decoration: none;
    color: white;
    margin-left: 74px;
    text-align: center;
    float: left;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .rightA {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    
  }

 .proj{
     display: flex;
     padding: 23px;
     background-color: #e8e8e8;
 }

 .proj a{
     text-decoration: none;
     /* color: grey; */
 }


 .active {
    color: blue;
  }

 .path{
     margin-left: 700px;
 }

 .head{
     margin-left: 168px;
     font-size: 30px;
 }

 .text{
     padding: 0px 100px 200px 200px;
    
 }

 .footinfo{
     text-align: center;
     padding: 23px;
     background-color: #282832;
     color: white;
     height: 241px;
 }

 .footinfo i{
    background-color: rgb(22 111 212);
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    margin-left: 23px;
    color: white;
 }



